*{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: black;
    
    a{
        text-decoration: none;
    }
    title{
        display: none;
    }
   
}
/****Shades of grey****/
$lightgrey:#f3f3f3;

$midgrey: #e4e1e1;

$darkgrey: #5f5c5c;
/************************************************************************************/
/*************************************HEADER*****************************************/
/************************************************************************************/
header{
    height: 60px;
    align-items: center;
    justify-content: center;
    
    .logo{
        width: 160px;
        margin-top: 12px;
    }
    h1{
        font-family: "shrikhand", Arial, Helvetica, sans-serif;
    }
}
.logo-heading__places{
    display: flex;
    flex-direction: row;
    align-items: center;
    i{
        align-self: flex-start;
    }
}


.location-paris{
    background-color: $midgrey;
    font-size: 16px ;
    margin-left: 12px;
    width: 160px;  
}

/************************************************************************************/
.logo-heading__places>i {
        align-self: flex-start;
}




/************************************************************************************/
/*************************************NAVICATION*************************************/
/************************************************************************************/

nav{
    height: 340px;
    .location{
        background-color: $midgrey;
        border-top: 2px solid $midgrey;
        height: 14%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav--text{
        background-color: $lightgrey;
        text-align: center;
        height: 86%;
        h2{
            font-size: 24px;
            margin: 50px 40px 0 50px;
            font-weight: 600;        
        }
        span{
        margin: 16px 0 0 0 ;
        font-weight: 300;
        font-size: 18px;
        }
    }
}

$purple: #9356dc;

$lightpurple: #9256dc25;

/************************************************************************************/
/*************************************Buttons***************************************/
button{
    justify-content: center;

    &.button--leader{
        
        background: linear-gradient(-8deg, #9445c9,#f160d9);
        box-shadow: 0 2px 4px 0 grey;
        border: 0px;
        border-radius: 23px;
        height: 48px;
        width: 200px;
        align-self: center;
        margin-top: 32px;
        p{
            color: #ffffff;
            font-size: 14px;
        }
    }

    &.button--new{
        color: #2f816d;        
        background-color: #99E2D0;
        border-radius: 2px;
        height: 28px;
        width: 78px;
        font-weight: 500;
        border-style: none;    
    }
}

/************************************************************************************/
/*************************************FILTERS****************************************/
/************************************************************************************/

aside{
    padding: 18px;
    height: 420px;
    h2{
        margin-top: 20px;
    }
}    
p {
    font-weight: bolder;
    font-size: 16px;
}
.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 22px;
        

    .filter--text{
        background-color: $lightgrey;
        border-radius: 24px;
        box-shadow: 0 8px 12px $midgrey;
        width: 100%;
        height: 74px;
        margin:  0 0 0 12px;
        flex-direction: row;
        align-items: center;  
        i{
            margin: 0 16px 0 32px;
            color: #808080;
            font-size: 18px;
        }
        i:hover{
            color: $purple;
        }
    }
    .filter--text:hover{
        background-color: $lightpurple;
    }    
    .filter--num{       
        background-color: $purple;
        border-radius: 18px;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 16px;
        >p{
        color: $lightgrey;
        margin: auto;
        }  
    }
   
} 

/************************************************************************************/
/*************************************SECTIONS***************************************/
/*************************************1st page***************************************/

section{
    background-color: $lightgrey;
    padding: 18px;
    h2{
        margin: 22px 0 0 0;
    }
    .places {
        display: flex;
        flex-direction: column;
        .place-prev{
            box-shadow: 2px 4px 6px $midgrey;
            border-radius: 16px;  
            height: 248px;
            margin: 18px 0 0 0;
            position: relative;
            
        }
        .place-prev__img{
            object-fit: cover;
            height: 70%;
            border-radius: 16px 16px 0 0 ;
        } 
        .place-prev__container {
            flex-direction: row;
            justify-content: space-between;
            height: 30%;
            background-color: white;
            border-radius: 0 0 16px 16px;
            .place-prev__heading {
                height: 100%;
                width: 60%;
                padding-left: 14px;
                justify-content: center;
                h3 {
                    font-size: 18px;
                }
                span {
                    font-size: 16px;
                    font-weight: 300;
                }            
            }
            .button-fav {
                width: 30%;
                height: 100%;
                justify-content: center;
                align-items: center;
                i {
                    font-size: 24px;
                }
            }
        }
        .button--new__heading, .button--new{
            position: absolute;
            top: 14px;
            right: 14px;
        }
    }
}

/************************************************************************************/
/*******************************MAIN SECTIONS****************************************/
/********************************order pages*****************************************/

main {
    background-color: $lightgrey;
    img {
        height: 260px;
        object-fit: cover;
    }
    section.title{
    border-radius: 24px 24px 0 0;
    padding-top: 12px;
    position: relative;
    bottom: 20px;
        header{
            flex-direction: row;
            justify-content: space-between;
            h1, >i{
                font-size: 26px;
            }
        }
    }
    section{
        ul{
            padding: 0;
            justify-content:space-between;
            li{
                background-color: #ffffff;
                border-radius: 16px;
                box-shadow: $midgrey 1px 6px 4px;
                margin-top: 12px;
                padding: 8px;
            }
        }
    }
}

li{
    
    h2, em{
        font-weight: 500;     
        font-size: 18px;    
    }
    p{
        font-weight: 300;
        font-size: 14px;
    }
    em{
        font-style: normal;
        font-size: 14px;
    }
}
/************************************************************************************/
/**************************************FOOTER****************************************/
/************************************************************************************/
footer {
    display: flex;
    flex-direction: column;
    background-color: $darkgrey;
    padding: 18px;
    
    
    .footer-content__logo>i, .footer-content__logo, .footer-content{
        color: white;
    }
    ul{
        padding-left: 0;
        a.footer-content__logo{
            flex-direction: row;
            
        }
    }
}

.footer-heading{
    flex-direction: row;
    align-self: flex-start;
    margin: 8px 0 8px 0;
    height: 30px;
    img{
        color: white;
        width: 112px;
    }
   
}

@media all and (min-device-width: 768px){
    * {
        display: flex;
        box-sizing: border-box;
    }
    aside {
        width: 100%;
        padding: 24px;
       .filter {
            width: 60%;
            align-self: center;
            .filter--text {
                justify-content: space-evenly;
                i {margin: 0;
                }
            }
            .filter--num {
                position: relative;
                left: 142px;
            }
        }
    } 
    
    section {
        padding: 24px;
        .places { 
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }
        .place-prev {
            width: 48%;
            margin-bottom: 8px;
        }
    }
}

@media all and (min-device-width: 992px){
    * {
        display: flex;
        box-sizing: border-box;
    }

    aside {
        height: 280px;
        .steps {
            flex-direction: row;
            justify-content: space-between;
        }
        .filter {
            width: 32%;
        }
    }

    section {
        background-color:#FFFFFF;
        .places {
            flex-direction: row;
            margin-bottom: 32px;
            justify-content: space-between;
            .place-prev {
                width: 23%;
                height: 440px;
                
                .place-prev__img {
                    height: 80%;
                }
                .place-prev__container {
                    height: 20%;
                }
            }
        }
    }
}