*{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: black;
    
    a{
        text-decoration: none;
    }
    title{
        display: none;
    }
   
}
/****Shades of grey****/
$lightgrey:#f3f3f3;

$midgrey: #dddadaa8;

$darkgrey: #4e4b4b;
/************************************************************************************/
/*************************************HEADER*****************************************/
/************************************************************************************/
header{
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    .header-link__arrow {
        width: 40px;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 20px;
    }
    .header-link__logo {
        .logo{
            width: 160px;
            
        }
        
    }
}
.logo-heading__places{
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
        i{
        align-self: flex-start;
        }
    }
    
}




/************************************************************************************/
.logo-heading__places>i {
        align-self: flex-start;
}




/************************************************************************************/
/*************************************NAVIGATION*************************************/
/************************************************************************************/

nav {
    height: 340px;
    .location {
        background-color: $midgrey;
        border-top: 2px solid $midgrey;
        height: 14%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .location-display {
            flex-direction: row;
            .location-paris {
            
            font-size: 16px ;
            font-weight: 500;
            margin-left: 22px;  
            }
        }   
    }
    .nav--text{
        background-color: $lightgrey;
        text-align: center;
        height: 86%;
        h2{
            font-size: 24px;
            margin: 50px 40px 0 50px;
            font-weight: 600;        
        }
        h4{
        margin: 16px 0 42px 0 ;
        font-weight: 300;
        font-size: 18px;
        }
    }
}

$purple: #9356dc;

$lightpurple: #9256dc25;

/************************************************************************************/
/*************************************Buttons***************************************/

    
.button--leader{
        justify-content: center;
        align-items: center;
        background: linear-gradient(-8deg, #9445c9,#f160d9);
        box-shadow: 0 2px 4px 0 grey;
        border: 0px;
        border-radius: 23px;
        height: 48px;
        width: 200px;
        align-self: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        transform: scale(1);
        transition: transform 200ms;
        &:hover {
            transform: scale(1.04);
            background: linear-gradient(-8deg, #a868d3,#f078dc);
        }
    }

.button--new{
    justify-content: center;
    align-items: center;
        color: #2f816d;        
        background-color: #99E2D0;
        border-radius: 2px;
        height: 28px;
        width: 78px;
        font-weight: 500;
        border-style: none;   
        position: absolute;
            top: 14px;
            right: 14px; 
    }
.button-fav {
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 4000ms;
    & :active {
            background: linear-gradient(-8deg, #9445c9,#f160d9);
            transform: scale(2);
        }
    i {
        font-size: 24px;
        border-color: 1px solid black;
        color: black;
    }
}
/************************************************************************************/
/*************************************FILTERS****************************************/
/************************************************************************************/

aside{
    padding: 52px 18px 60px 18px;
    height: 420px;
    
}    
p {
    font-weight: bolder;
    font-size: 16px;
}
.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 22px;
        

    .filter--text{
        background-color: $lightgrey;
        border-radius: 24px;
        box-shadow: 0 8px 12px $midgrey;
        width: 100%;
        height: 74px;
        margin:  0 0 0 12px;
        flex-direction: row;
        align-items: center;  
        i{
            margin: 0 16px 0 32px;
            color: #808080;
            font-size: 18px;
        }
        i:hover{
            color: $purple;
        }
    }
    .filter--text:hover{
        background-color: $lightpurple;
    }    
    .filter--num{       
        background-color: $purple;
        border-radius: 18px;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 16px;
        >p{
        color: $lightgrey;
        margin: auto;
        }  
    }
   
} 

/************************************************************************************/
/*************************************SECTIONS***************************************/
/*************************************1st page***************************************/

section{
    background-color: $lightgrey;
    padding: 52px 18px 60px 18px;
    
    .places {
        display: flex;
        flex-direction: column;
        .place-prev{
            box-shadow: 2px 4px 6px $midgrey;
            border-radius: 16px;  
            height: 248px;
            margin: 18px 0 0 0;
            position: relative;
            
        }
        .place-prev__img{
            object-fit: cover;
            height: 70%;
            border-radius: 16px 16px 0 0 ;
        } 
        .place-prev__container {
            flex-direction: row;
            justify-content: space-between;
            height: 30%;
            background-color: white;
            border-radius: 0 0 16px 16px;
            .place-prev__heading {
                height: 100%;
                width: 60%;
                padding-left: 14px;
                justify-content: center;
                overflow: scroll;
                h3 {
                    font-size: 18px;
                }
                span {
                    font-size: 16px;
                    font-weight: 300;
                }            
            }

            
        }
        
    }
}

/************************************************************************************/
/*******************************MAIN SECTIONS****************************************/
/********************************order pages*****************************************/

main {
    background-color: $lightgrey;
    img {
        height: 260px;
        object-fit: cover;
    }
    section.title{
    border-radius: 32px 32px 0 0;
    padding-top: 36px;
    position: relative;
    bottom: 28px;
        .place-name{
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            h1 {
                font-size: 28px;
                font-family: "Shrikhand", Arial, Helvetica, sans-serif;
            }
            /*button fav icon*/
            i {
                font-size: 26px;
            }
        }
    }
    section{
        padding: 0 18px 36px 18px ;
        ul{
            padding: 0;
            justify-content:space-between;
        }
    }
    .order-button {
        padding-bottom: 80px;
    }
}

.name{
    flex-direction: row;
    justify-content: space-between;
    height: 68px; 
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: $midgrey 1px 6px 4px;
    margin-top: 12px;
    overflow: hidden;
    &:hover > .button-cheklist {
            transform: translate(100px, 0);
            transform: scaleX(1);
        }
    
    .dishes-name {
        width: 80%;
        overflow: scroll;
        padding: 12px;
        h2, em{
            font-weight: 500;     
            font-size: 18px; 
            font-style: normal;   
        }
        p{
            font-weight: 300;
            font-size: 14px;
            margin-top: 4px;
        }
    } 
    .button-cheklist {
        width: 68px;
        height: 100%;
        transform-origin: right 50% ;
        transform: scaleX(0);
        transition: transform 400ms ease-out;
        background-color: #99E2D0;
        justify-content: center;
        align-items: center;
        color: white;  
        margin: 0; 
        i {
            color: white;
        }    
    } 
    .dishes-price { 
        width: 20%;
        justify-content: flex-end;
        align-items: flex-end; 
        padding: 12px;   
        em{
            font-style: normal;
            font-size: 14px;
        }
    } 
}
/************************************************************************************/
/**************************************FOOTER****************************************/
/************************************************************************************/
.footer-text__color {
    display: flex;
    flex-direction: column;
    background-color: $darkgrey;
    padding: 0 18px 36px 18px;
    .footer-top {
        flex-direction: row;
        align-self: flex-start;
        margin: 18px 0 18px 0;
        height: 30px;
        .footer-logo{
            color: white;
            width: 120px;
        }   
    
    }
    ul{
        padding-left: 0;
        a.footer-content__logo{
            flex-direction: row;
            align-items: baseline;
            
        }
        .footer-content{
        color: white;
        margin-bottom: 8px
        }
        .footer-content__logo {
            @extend .footer-content;
            i {
                @extend .footer-content;
                margin-right: 12px;
                font-size: 14px;
            }
        }
    }
}



@media all and (min-device-width: 768px){
    * {
        display: flex;
        box-sizing: border-box;
    }
    aside {
        width: 100%;
        padding: 58px 24px 24px 24px ;
       .filter {
            width: 60%;
            align-self: center;
            .filter--text {
                justify-content: space-evenly;
                i {margin: 0;
                }
            }
            .filter--num {
                position: absolute;
                left: 184px;
            }
        }
    } 
    
    section {
        padding: 58px 24px 58px 24px;
        .places { 
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }
        .place-prev {
            width: 48%;
            margin-bottom: 8px;
        }
    }
}

.footer-text__color {
    justify-content: center;
}

@media all and (min-device-width: 992px){
    * {
        display: flex;
        box-sizing: border-box;
    }

    aside {
        height: 240px;
        .steps {
            flex-direction: row;
            justify-content: space-between;
        }
        .filter {
            width: 32%;
        }
    }

    .preview {
        background-color:$lightpurple;
        border-radius: 22px;
        margin: 0 24px 42px 24px;
        .places {
            flex-direction: row;
            margin-bottom: 32px;
            justify-content: space-between;
            .place-prev {
                width: 23%;
                height: 440px;
                box-shadow: 10px 10px 10px $lightpurple;
                
                .place-prev__img {
                    height: 80%;
                }
                .place-prev__container {
                    height: 20%;
                }
            }
        }
    }
}