@media all and (max-device-width: 480px){
*{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bolder;
    a{
        text-decoration: none;
    }
   
}
/****Organiser couleurs $****/
 button{
    color: white;
    background-color:#9356DC;
    box-shadow: 0 2px 4px 0 grey;
    border: 0px;
    border-radius: 23px;
    height: 44px;
    width: 220px;
    justify-content: center;
    font-weight: normal;
    font-size: 14px;

    margin: auto;

    &.button--new{
        color: #2f816d;        
        background-color: #99E2D0;
        border-radius: 2px;
        height: 28px;
        width: 82px;
        font-weight: 500;
    }
}

header{
    h1{
        font-family: "shrikhand", Arial, Helvetica, sans-serif;
        margin: auto;
    }
    h1.footer--title__small{
        font-size: 16px;
    }
}

nav{
    height: 300px;
    form{
        background-color: rgb(153, 149, 149);
        border-top: 4px solid grey;
    }
    .nav--text{
        background-color: #f3f3f3;
        height: 80%;
    }
}

div {
    span{
        font-size: 24px;
    }
    p{
        font-size: 18px;
        font-weight: 100;
    }
}

aside{
    border: 2px solid rgb(248, 190, 151);
    background-color: rgb(252, 208, 159);

    .filter{
        display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

        .filter--text{
            border: 2px solid rgb(236, 209, 91);
            background-color: rgb(255, 255, 183);
            border-radius: 24px;
            width: 320px;
            height: 100px;
        }
        .filter--num{
            border:2px solid rgb(233, 123, 83);
            background-color: white;
            border-radius: 18px;
            width: 24px;
            height: 24px;
            position: relative;
            left: 12px;
        }
    }
      
} 


main{
    border: 2px solid darkcyan ;
    background-color: rgb(154, 181, 231);
    .place--prev{
        border: 2px solid rgb(12, 12, 56);
        background-color: rgb(178, 178, 212);
        border-radius: 16px;
    }
}

footer.footer--text__color{
    
        background-color: grey;
        color: white;

}


}