* {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: black;
}
* a {
  text-decoration: none;
}
* title {
  display: none;
}

/****Shades of grey****/
/************************************************************************************/
/*************************************HEADER*****************************************/
/************************************************************************************/
header {
  height: 60px;
  align-items: center;
  justify-content: center;
}
header .logo {
  width: 160px;
  margin-top: 12px;
}
header h1 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
}

.logo-heading__places {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-heading__places i {
  align-self: flex-start;
}

.location-paris {
  background-color: #e4e1e1;
  font-size: 16px;
  margin-left: 12px;
  width: 160px;
}

/************************************************************************************/
.logo-heading__places > i {
  align-self: flex-start;
}

/************************************************************************************/
/*************************************NAVICATION*************************************/
/************************************************************************************/
nav {
  height: 340px;
}
nav .location {
  background-color: #e4e1e1;
  border-top: 2px solid #e4e1e1;
  height: 14%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .nav--text {
  background-color: #f3f3f3;
  text-align: center;
  height: 86%;
}
nav .nav--text h2 {
  font-size: 24px;
  margin: 50px 40px 0 50px;
  font-weight: 600;
}
nav .nav--text span {
  margin: 16px 0 0 0;
  font-weight: 300;
  font-size: 18px;
}

/************************************************************************************/
/*************************************Buttons***************************************/
button {
  justify-content: center;
}
button.button--leader {
  background: linear-gradient(-8deg, #9445c9, #f160d9);
  box-shadow: 0 2px 4px 0 grey;
  border: 0px;
  border-radius: 23px;
  height: 48px;
  width: 200px;
  align-self: center;
  margin-top: 32px;
}
button.button--leader p {
  color: #ffffff;
  font-size: 14px;
}
button.button--new {
  color: #2f816d;
  background-color: #99E2D0;
  border-radius: 2px;
  height: 28px;
  width: 78px;
  font-weight: 500;
  border-style: none;
}

/************************************************************************************/
/*************************************FILTERS****************************************/
/************************************************************************************/
aside {
  padding: 18px;
  height: 420px;
}
aside h2 {
  margin-top: 20px;
}

p {
  font-weight: bolder;
  font-size: 16px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 22px;
}
.filter .filter--text {
  background-color: #f3f3f3;
  border-radius: 24px;
  box-shadow: 0 8px 12px #e4e1e1;
  width: 100%;
  height: 74px;
  margin: 0 0 0 12px;
  flex-direction: row;
  align-items: center;
}
.filter .filter--text i {
  margin: 0 16px 0 32px;
  color: #808080;
  font-size: 18px;
}
.filter .filter--text i:hover {
  color: #9356dc;
}
.filter .filter--text:hover {
  background-color: #9256dc25;
}
.filter .filter--num {
  background-color: #9356dc;
  border-radius: 18px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
}
.filter .filter--num > p {
  color: #f3f3f3;
  margin: auto;
}

/************************************************************************************/
/*************************************SECTIONS***************************************/
/*************************************1st page***************************************/
section {
  background-color: #f3f3f3;
  padding: 18px;
}
section h2 {
  margin: 22px 0 0 0;
}
section .places {
  display: flex;
  flex-direction: column;
}
section .places .place-prev {
  box-shadow: 2px 4px 6px #e4e1e1;
  border-radius: 16px;
  height: 248px;
  margin: 18px 0 0 0;
  position: relative;
}
section .places .place-prev__img {
  object-fit: cover;
  height: 70%;
  border-radius: 16px 16px 0 0;
}
section .places .place-prev__container {
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
  background-color: white;
  border-radius: 0 0 16px 16px;
}
section .places .place-prev__container .place-prev__heading {
  height: 100%;
  width: 60%;
  padding-left: 14px;
  justify-content: center;
}
section .places .place-prev__container .place-prev__heading h3 {
  font-size: 18px;
}
section .places .place-prev__container .place-prev__heading span {
  font-size: 16px;
  font-weight: 300;
}
section .places .place-prev__container .button-fav {
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
section .places .place-prev__container .button-fav i {
  font-size: 24px;
}
section .places .button--new__heading, section .places .button--new {
  position: absolute;
  top: 14px;
  right: 14px;
}

/************************************************************************************/
/*******************************MAIN SECTIONS****************************************/
/********************************order pages*****************************************/
main {
  background-color: #f3f3f3;
}
main img {
  height: 260px;
  object-fit: cover;
}
main section.title {
  border-radius: 24px 24px 0 0;
  padding-top: 12px;
  position: relative;
  bottom: 20px;
}
main section.title header {
  flex-direction: row;
  justify-content: space-between;
}
main section.title header h1, main section.title header > i {
  font-size: 26px;
}
main section ul {
  padding: 0;
  justify-content: space-between;
}
main section ul li {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: #e4e1e1 1px 6px 4px;
  margin-top: 12px;
  padding: 8px;
}

li h2, li em {
  font-weight: 500;
  font-size: 18px;
}
li p {
  font-weight: 300;
  font-size: 14px;
}
li em {
  font-style: normal;
  font-size: 14px;
}

/************************************************************************************/
/**************************************FOOTER****************************************/
/************************************************************************************/
footer {
  display: flex;
  flex-direction: column;
  background-color: #5f5c5c;
  padding: 18px;
}
footer .footer-content__logo > i, footer .footer-content__logo, footer .footer-content {
  color: white;
}
footer ul {
  padding-left: 0;
}
footer ul a.footer-content__logo {
  flex-direction: row;
}

.footer-heading {
  flex-direction: row;
  align-self: flex-start;
  margin: 8px 0 8px 0;
  height: 30px;
}
.footer-heading img {
  color: white;
  width: 112px;
}

@media all and (min-device-width: 768px) {
  * {
    display: flex;
    box-sizing: border-box;
  }

  aside {
    width: 100%;
    padding: 24px;
  }
  aside .filter {
    width: 60%;
    align-self: center;
  }
  aside .filter .filter--text {
    justify-content: space-evenly;
  }
  aside .filter .filter--text i {
    margin: 0;
  }
  aside .filter .filter--num {
    position: relative;
    left: 142px;
  }

  section {
    padding: 24px;
  }
  section .places {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  section .place-prev {
    width: 48%;
    margin-bottom: 8px;
  }
}
@media all and (min-device-width: 992px) {
  * {
    display: flex;
    box-sizing: border-box;
  }

  aside {
    height: 280px;
  }
  aside .steps {
    flex-direction: row;
    justify-content: space-between;
  }
  aside .filter {
    width: 32%;
  }

  section {
    background-color: #FFFFFF;
  }
  section .places {
    flex-direction: row;
    margin-bottom: 32px;
    justify-content: space-between;
  }
  section .places .place-prev {
    width: 23%;
    height: 440px;
  }
  section .places .place-prev .place-prev__img {
    height: 80%;
  }
  section .places .place-prev .place-prev__container {
    height: 20%;
  }
}

/*# sourceMappingURL=index.css.map */
